@tailwind base;
@tailwind components;
@tailwind utilities;



.separator {
  /* background-color: #f6ae2d; */
  background-color: #f9f4d6;
}

.homepage-main-image {
  width: auto;
  height: auto;
  
}
.homepage-button {
  /* background-color: #f4bf5c; */
  background-color: #f9f4d6 ;
  color: #101010;

}

@media screen and (max-width: 1080px ) {
  .homepage-main-image {
    /* width: 90vw; */
  }
}
.icon-1 {
  /* color: #f4bf5c; */
  color: #f9f4d6 ;
}
.item-container {
  /* background-color: #f6ae2d ; */
  background-color: #f9f4d6 ;
}