@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  
}

.separator {
  background-color: #f6ae2d;
}

.homepage-main-image {
  width: auto;
  height: auto;
}
.homepage-button {
  background-color: #f4bf5c;
  color: #fff;

}

@media screen and (max-width: 1022px ) {
  .homepage-main-image {
    width: 90vw;
  }
}
.icon-1 {
  color: #f4bf5c;
}
.item-container {
  background-color: #f6ae2d ;
}