@tailwind base;
@tailwind components;
@tailwind utilities;



.separator {
  /* background-color: #f6ae2d; */
  background-color: #f9f4d6;
}

.homepage-main-image {
  width: auto;
  height: auto;
  
}
.homepage-button {
  /* background-color: #f4bf5c; */
  background-color: #f9f4d6 ;
  color: #101010;

}

.icon-1 {
  /* color: #f4bf5c; */
  color: #f9f4d6 ;
}
.item-container {
  /* background-color: #f6ae2d ; */
  background-color: #f9f4d6 ;
}
.card-img {
  transition: transform 0.5s ease;
}
.card-img:hover {
  transform: scale(1.2);
}

.pre-workout-page .card-button a  {
  background-color: #eab308 ;
}
.fatLoss-page .card-button a {
  background: linear-gradient(to right, #f6d365 0%, #fda085 100%);

}








@media screen and (max-width: 1080px ) {
  
}
